corAddProcess( "multParametric" "./CORNERS/multipleParametric" "multipleParametric" )
corAddProcessVar(    "multParametric" "polyRho" )
corSetProcessVarVal( "multParametric" "polyRho" "50" )
corAddProcessVar(    "multParametric" "polyCap" )
corSetProcessVarVal( "multParametric" "polyCap" "1" )
corAddGroupAndVariantChoices( "multParametric" "pmos" '("slow" "typ" "fast") )
corAddGroupAndVariantChoices( "multParametric" "nmos" '("slow" "typ" "fast") )

corAddCorner( "multParametric" "slowslow" )
corSetCornerGroupVariant( "multParametric" "slowslow" "nmos" "slow" )
corSetCornerGroupVariant( "multParametric" "slowslow" "pmos" "slow" )
corSetCornerNomTempVal( "multParametric" "slowslow" 27 )
corSetCornerRunTempVal( "multParametric" "slowslow" 125 )
corSetCornerVarVal( "multParametric" "slowslow" "polyCap" "1.2" )
corSetCornerVarVal( "multParametric" "slowslow" "polyRho" "60" )

corAddCorner( "multParametric" "fastslow" )
corSetCornerGroupVariant( "multParametric" "fastslow" "nmos" "slow" )
corSetCornerGroupVariant( "multParametric" "fastslow" "pmos" "fast" )
corSetCornerNomTempVal( "multParametric" "fastslow" 27 )
corSetCornerRunTempVal( "multParametric" "fastslow" 125 )
corSetCornerVarVal( "multParametric" "fastslow" "polyCap" "1" )
corSetCornerVarVal( "multParametric" "fastslow" "polyRho" "40" )

corAddCorner( "multParametric" "typtyp" )
corSetCornerGroupVariant( "multParametric" "typtyp" "nmos" "typ" )
corSetCornerGroupVariant( "multParametric" "typtyp" "pmos" "typ" )
corSetCornerNomTempVal( "multParametric" "typtyp" 27 )
corSetCornerRunTempVal( "multParametric" "typtyp" 27 )
corSetCornerVarVal( "multParametric" "typtyp" "polyCap" "1.2" )
corSetCornerVarVal( "multParametric" "typtyp" "polyRho" "60" )

corAddCorner( "multParametric" "slowfast" )
corSetCornerGroupVariant( "multParametric" "slowfast" "nmos" "fast" )
corSetCornerGroupVariant( "multParametric" "slowfast" "pmos" "slow" )
corSetCornerNomTempVal( "multParametric" "slowfast" 27 )
corSetCornerRunTempVal( "multParametric" "slowfast" 125 )
corSetCornerVarVal( "multParametric" "slowfast" "polyCap" "1.2" )
corSetCornerVarVal( "multParametric" "slowfast" "polyRho" "60" )

corAddCorner( "multParametric" "fastfast" )
corSetCornerGroupVariant( "multParametric" "fastfast" "nmos" "fast" )
corSetCornerGroupVariant( "multParametric" "fastfast" "pmos" "fast" )
corSetCornerNomTempVal( "multParametric" "fastfast" 27 )
corSetCornerRunTempVal( "multParametric" "fastfast" -55 )
corSetCornerVarVal( "multParametric" "fastfast" "polyCap" "800m" )
corSetCornerVarVal( "multParametric" "fastfast" "polyRho" "40" )

corAddMeas( "DCgain" )
corSetMeasExpression( "DCgain" "ymax(db20(VF(\"vout\")))" )
corSetMeasEnabled( "DCgain" t )
corSetMeasGraphicalOn( "DCgain" t )
corSetMeasTextualOn( "DCgain" nil )


corAddMeas( "bandwidth" )
corSetMeasExpression( "bandwidth" "bandwidth(VF(\"vout\") 3 \"low\")" )
corSetMeasEnabled( "bandwidth" t )
corSetMeasGraphicalOn( "bandwidth" t )
corSetMeasTextualOn( "bandwidth" nil )


corAddMeas( "gain" )
corSetMeasExpression( "gain" "dB20(VF(\"vout\"))" )
corSetMeasEnabled( "gain" t )
corSetMeasGraphicalOn( "gain" t )
corSetMeasTextualOn( "gain" nil )


corAddMeas( "phase" )
corSetMeasExpression( "phase" "phase(VF(\"vout\"))" )
corSetMeasLower( "phase" 12345678 )
corSetMeasEnabled( "phase" t )
corSetMeasGraphicalOn( "phase" t )
corSetMeasTextualOn( "phase" nil )

