
corAddProcess( "multipleModelLib" "./CORNERS/multipleModelLib" 'multipleModelLib )
corAddProcessVar( "multipleModelLib" "vdd" )
corAddProcessVar( "multipleModelLib" "vss" )
corAddDesignVar( "Cload" )
corAddGroupAndVariantChoices( "multipleModelLib" "pmosLib.scs" '("slow" "nom" "fast") )
corAddGroupAndVariantChoices( "multipleModelLib" "nmosLib.scs" '("slow" "nom" "fast") )

corAddCorner( "multipleModelLib" "slowslow" )
corSetCornerGroupVariant( "multipleModelLib" "slowslow" "nmosLib.scs" "slow" )
corSetCornerGroupVariant( "multipleModelLib" "slowslow" "pmosLib.scs" "slow" )
corSetCornerNomTempVal( "multipleModelLib" "slowslow" 27 )
corSetCornerRunTempVal( "multipleModelLib" "slowslow" 125 )
corSetCornerVarVal( "multipleModelLib" "slowslow" "Cload" "260f" )
corSetCornerVarVal( "multipleModelLib" "slowslow" "vss" "-2.7" )
corSetCornerVarVal( "multipleModelLib" "slowslow" "vdd" "2.7" )

corAddCorner( "multipleModelLib" "fastslow" )
corSetCornerGroupVariant( "multipleModelLib" "fastslow" "nmosLib.scs" "slow" )
corSetCornerGroupVariant( "multipleModelLib" "fastslow" "pmosLib.scs" "fast" )
corSetCornerNomTempVal( "multipleModelLib" "fastslow" "27" )
corSetCornerRunTempVal( "multipleModelLib" "fastslow" 27 )
corSetCornerVarVal( "multipleModelLib" "fastslow" "Cload" "200f" )
corSetCornerVarVal( "multipleModelLib" "fastslow" "vss" "-3" )
corSetCornerVarVal( "multipleModelLib" "fastslow" "vdd" "3" )

corAddCorner( "multipleModelLib" "typtyp" )
corSetCornerGroupVariant( "multipleModelLib" "typtyp" "nmosLib.scs" "nom" )
corSetCornerGroupVariant( "multipleModelLib" "typtyp" "pmosLib.scs" "nom" )
corSetCornerNomTempVal( "multipleModelLib" "typtyp" 27 )
corSetCornerRunTempVal( "multipleModelLib" "typtyp" 27 )
corSetCornerVarVal( "multipleModelLib" "typtyp" "Cload" "200f" )
corSetCornerVarVal( "multipleModelLib" "typtyp" "vss" "-3" )
corSetCornerVarVal( "multipleModelLib" "typtyp" "vdd" "3" )

corAddCorner( "multipleModelLib" "slowfast" )
corSetCornerGroupVariant( "multipleModelLib" "slowfast" "nmosLib.scs" "fast" )
corSetCornerGroupVariant( "multipleModelLib" "slowfast" "pmosLib.scs" "slow" )
corSetCornerNomTempVal( "multipleModelLib" "slowfast" "27" )
corSetCornerRunTempVal( "multipleModelLib" "slowfast" 27 )
corSetCornerVarVal( "multipleModelLib" "slowfast" "Cload" "200f" )
corSetCornerVarVal( "multipleModelLib" "slowfast" "vss" "-3" )
corSetCornerVarVal( "multipleModelLib" "slowfast" "vdd" "3" )

corAddCorner( "multipleModelLib" "fastfast" )
corSetCornerGroupVariant( "multipleModelLib" "fastfast" "nmosLib.scs" "fast" )
corSetCornerGroupVariant( "multipleModelLib" "fastfast" "pmosLib.scs" "fast" )
corSetCornerNomTempVal( "multipleModelLib" "fastfast" 27 )
corSetCornerRunTempVal( "multipleModelLib" "fastfast" -55 )
corSetCornerVarVal( "multipleModelLib" "fastfast" "Cload" "160f" )
corSetCornerVarVal( "multipleModelLib" "fastfast" "vss" "-3.3" )
corSetCornerVarVal( "multipleModelLib" "fastfast" "vdd" "3.3" )

corAddMeas( "DCgain" )
corSetMeasExpression( "DCgain" "ymax(db20(VF(\"vout\")))" )
corSetMeasTarget( "DCgain" 60 )
corSetMeasEnabled( "DCgain" t )
corSetMeasGraphicalOn( "DCgain" t )
corSetMeasTextualOn( "DCgain" nil )


corAddMeas( "bandwidth" )
corSetMeasExpression( "bandwidth" "bandwidth(VF(\"vout\") 3 \"low\")" )
corSetMeasEnabled( "bandwidth" t )
corSetMeasGraphicalOn( "bandwidth" t )
corSetMeasTextualOn( "bandwidth" nil )


corAddMeas( "gain" )
corSetMeasExpression( "gain" "dB20(VF(\"vout\"))" )
corSetMeasEnabled( "gain" t )
corSetMeasGraphicalOn( "gain" t )
corSetMeasTextualOn( "gain" nil )


corAddMeas( "phase" )
corSetMeasExpression( "phase" "phase(VF(\"vout\"))" )
corSetMeasEnabled( "phase" t )
corSetMeasGraphicalOn( "phase" t )
corSetMeasTextualOn( "phase" nil )

